.loginPage {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-bottom: 24px;
  text-align: center;
}

.header > h2 {
  font-family: var(--font-voice);
  font-weight: 400;
}

.header > p {
  color: var(--text-secondary);
  font-size: 14px;
}

.loginPage > p {
  margin-top: 12px;
  color: var(--text-secondary);
  font-size: 14px;
}

.loginPage > p > a {
  color: var(--text-accent);
}
