.commentsContainer {
  padding-top: 12px;
  border-top: 1px solid var(--border);
}

.commentsContainer > p {
  padding-bottom: 24px;
}

.commentsContainer > h2 {
  font-family: var(--font-voice);
  font-size: 18px;
  color: var(--text-accent);
  font-weight: 400;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
}

.toggleBtn {
  margin-block: 8px;
}
