.home {
  width: 100%;
}

.buttonToggle {
  padding-block: 12px;
  justify-self: end;
}

.homeList {
  display: flex;
  flex-direction: column;
}

.homeCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 16px;
}
