form {
  width: min(480px, calc(100% - 32px));
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.err {
  color: var(--color-danger);
  font-size: 12px;
}

.gap {
  padding-top: 12px;
}
